{
    "compilemql4.includeDir": "C:\\Users\\Google\\AppData\\Roaming\\MetaQuotes\\Terminal\\082F53F5881F3D6022DF806C3D307B50\\MQL4",
    "compilemql4.metaeditorDir": "C:\\Program Files (x86)\\XMTrading MT4\\metaeditor.exe"
}